.img-portfolio {
    border: 2px solid #333;
}


h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#logo {
    padding-top: 5%;
    max-width: 100%; 
}


/* Contact */ 
.contact-outer {
    background-image: url(../img/toms.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    z-index: -10;
}

.contact-inner {
    color: white;
    z-index: 10;
}

#top {
    z-index: 0;
}